**/venv
**/.venv
**/__pycache__
*.pyc
*.pyo
.env
.env.local
storage_local/
*.pkl
*.csv
!test_data/*.csv
!test_data/*.pkl
!test_data/dummy_data_fairlens/*.csv
!test_data/dummy_data_fairlens/*.pkl
artifacts/
.git/
.gitignore
deploy/
*.md
mnt/
